<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rock, Paper, Scissors! Home Page One Player</title>
</head>

<body>
    <h1>Rock, Paper, Scissors!</h1>
    <h3>Please, fill out your name:</h3>
    <form action='/gameOnePlayer' method="post">
        <div>
            <label for="player">Player 1:</label>
            <input type="text" id="player" name="player">
        </div>
        <br />
        <button type="submit" id="submit-names">Let's Play!</button>
    </form>
</body>

</html>