<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rock, Paper, Scissors! Landing Page</title>
</head>

<body>
    <form action=""></form>
    <div class="card text-center">
        <div class="card-header">
            <h1 class="card-title text-primary">Rock, Paper, Scissors</h1>
        </div>
        <div class="card-body"><br>
            <a href="/indexOnePlayer" class="btn btn-primary">One Player</a>
        </div>
        <div class="card-body"><br>
            <a href="/index" class="btn btn-primary">Two Player</a>
        </div>
        <br>
    </div>
    </form>
</body>

</html>