<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors! Results One Player</title>
</head>

<body>
    <h1>
        <%= name %> has picked <%= weapon %>
    </h1>
    <h1>
        Computer has picked <%= computer %>
    </h1>
    <h2>
        The winner is: <%= result %>
    </h2>
    <a id="turn-link" href="/gameOnePlayer">Play Again?</a>
    <a id="turn-link" href="/">Start new Game</a>
</body>

</html>